.bg{
  background-image: url("../src/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(22, 2, 2, 0.8);
  background-size: cover;
}

.scroll {
  scroll-behavior: smooth;
  scroll-snap-type: none;
}