.bg{
  background-image: url("../src/assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(12, 9, 9, 0.76);
  background-size: cover;
}

.scroll {
  scroll-behavior: smooth;
  scroll-snap-type: none;
}